<div class="main" [ngStyle]="{ 'background-position-y': backgroundPositionY }">
    <div class="main-container">
        <div class="content-mother">
            <div class="content-inner">
                <div class="content-inner-text">
                    <div class="text">
                        <h1><span class="big">Good</span> Drink <span class="big">for Good</span> Moments<span class="big">.</span></h1>
                        <!-- <p>asdasdasd</p> -->
                    </div>
                    <div class="buttons">
                        <button class="shop">Shop Now</button>
                        <button class="read">Read more</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="asd" style="width:100%;height:500px; background-color: red;">

</div>