<section class="main" [ngStyle]="{ 'background-position-y': backgroundPositionY }">
    <div class="main-container">
        <div class="content-mother">
            <div class="content-inner">
                <div class="content-inner-text">
                    <div class="text">
                        <h1><span class="big">Good</span> Drink <span class="big">for Good</span> Moments<span
                                class="big">.</span></h1>
                        <!-- <p>asdasdasd</p> -->
                    </div>
                    <div class="buttons">
                        <button class="shop">Shop Now</button>
                        <button class="read">Read more</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="suggest-main">
    <div class="suggest-container">
        <div class="suggest-main-inner">
            <div class="card">
                <div class="icon">
                    <img src="../../../../../assets/images/headphones.png " alt="headphones">
                </div>
                <div class="card-text">
                    <h2 class="hd2">Online support 24/7</h2>
                    <p class="card-description">A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
                </div>
            </div>
        </div>
        <div class="suggest-main-inner1">
            <div class="card">
                <div class="icon">
                    <img src="../../../../../assets/images/headphones.png" alt="money">
                </div>
                <div class="card-text">
                    <h2 class="hd2">Money Back Guarantee</h2>
                    <p class="card-description">A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
                </div>
            </div>
        </div>
        <div class="suggest-main-inner2">
            <div class="card">
                <div class="icon">
                    <img src="../../../../../assets/images/headphones.png" alt="bus">
                </div>
                <div class="card-text">
                    <h2 class="hd2">Free Shipping & Return</h2>
                    <p class="card-description">A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
                </div>
            </div>
        </div>
    </div>
</section>