<section class="main" [ngStyle]="{ 'background-position-y': backgroundPositionY }">
    <div class="main-container">
        <div class="content-mother">
            <div class="content-inner">
                <div class="content-inner-text">
                    <div class="text" data-aos="fade-down">
                        <h1><span class="big">Good</span> Drink <span class="big">for Good</span> Moments<span
                                class="big">.</span></h1>
                        <!-- <p>asdasdasd</p> -->

                    </div>
                    <div class="buttons" data-aos="fade-down">
                        <button class="shop">Shop Now</button>
                        <button class="read">Read more</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- ------------- intro ------------------ -->
<section class="suggest-main">
    <div class="suggest-container">
        <div class="suggest-main-inner" data-aos="fade-down">
            <div class="card">
                <div class="icon">
                    <!-- <img src="../../../../../assets/images/headphones.png " alt="headphones"> -->
                    <i class="fal fa-head-side-headphones fa-lg" style="color: #b86565;"></i>
                </div>
                <div class="card-text">
                    <h2 class="hd2">Online support 24/7</h2>
                    <p class="card-description">A small river named Duden flows by their place and supplies it with the
                        necessary regelialia.</p>
                </div>
            </div>
        </div>
        <div class="suggest-main-inner1" data-aos="fade-down">
            <div class="card">
                <div class="icon">
                    <img src="../../../../../assets/images/headphones.png" alt="money">
                </div>
                <div class="card-text">
                    <h2 class="hd2">Money Back Guarantee</h2>
                    <p class="card-description">A small river named Duden flows by their place and supplies it with the
                        necessary regelialia.</p>
                </div>
            </div>
        </div>
        <div class="suggest-main-inner2" data-aos="fade-down">
            <div class="card">
                <div class="icon">
                    <img src="../../../../../assets/images/headphones.png" alt="bus">
                </div>
                <div class="card-text">
                    <h2 class="hd2">Free Shipping & Return</h2>
                    <p class="card-description">A small river named Duden flows by their place and supplies it with the
                        necessary regelialia.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ----------------------- intro end ----------------------- -->

<!-- ----------------------- experience ----------------------- -->

<section class="experience-main" id="experience-main">
    <div class="experience-container">
        <div class="container-inner">
            <div class="inner-img">

            </div>
            <div class="experience-description">
                <div class="heading-section">
                    <span class="subheading" data-aos="fade-up">Since 1905</span>
                    <h2 class="hd3" data-aos="fade-up">Desire meets a new Taste</h2>
                    <p class="exp-text" data-aos="fade-up">A small river named Duden flows by their place and supplies
                        it with the
                        necessary regelialia. It
                        is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>

                    <p class="exp-text" data-aos="fade-up">On her way she met a copy. The copy warned the Little Blind
                        Text, that where it
                        came from it
                        would have been rewritten a thousand times and everything that was left from its origin would be
                        the word "and" and the Little Blind Text should turn around and return to its own, safe country.
                    </p>
                    <p class="year" data-aos="fade-up"> <strong>{{counter}} </strong><span>Years of Experience In
                            Business</span></p>

                </div>
            </div>
        </div>
    </div>
</section>

<!-- ----------------------- experience end ----------------------- -->



<!-- ----------------------- whiskey colleciton ----------------------- -->
<section class="whiskey-main">
    <div class="whiskey-container">
        <div class="whiskey-container-inner">
            <div class="item-container" data-aos="fade-up" data-aos-duration="500">
                <div class="container-inner1">
                    <div class="inner-img11">
                    </div>
                    <h3 class="name-of-drink">Brandy</h3>
                </div>
            </div>

            <div class="item-container" data-aos="fade-up" data-aos-duration="700">
                <div class="container-inner1">
                    <div class="inner-img1">

                    </div>
                    <h3 class="name-of-drink">Gin</h3>
                </div>
            </div>

            <div class="item-container" data-aos="fade-up" data-aos-duration="900">
                <div class="container-inner1">
                    <div class="inner-img2">

                    </div>
                    <h3 class="name-of-drink">Rum</h3>
                </div>
            </div>

            <div class="item-container" data-aos="fade-up" data-aos-duration="1100">
                <div class="container-inner1">
                    <div class="inner-img3">

                    </div>
                    <h3 class="name-of-drink">Tequila</h3>
                </div>
            </div>

            <div class="item-container" data-aos="fade-up" data-aos-duration="1300">
                <div class="container-inner1">
                    <div class="inner-img4">

                    </div>
                    <h3 class="name-of-drink">Vodka</h3>
                </div>
            </div>

            <div class="item-container" data-aos="fade-up" data-aos-duration="1500">
                <div class="container-inner1">
                    <div class="inner-img5">

                    </div>
                    <h3 class="name-of-drink">Whiskey</h3>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ----------------------- whiske colleciton end ------------------------->


<!-- ----------------------- Tastefully Yours ------------------------------ -->
<section class="whiskey-main" style="padding-top: 0 !important;">
    <div class="whiskey-container">
        <div class="whiskey-container-inner"
            style="justify-content: center; text-align: center; flex-direction: column;">
            <div class="head-tastefully">
                <span class="subheading">Our Delightful offerings</span>
                <h2 class="hd3">Tastefully Yours</h2>
            </div>
            <div class="products-main row">
                <div class="col-md-3 d-flex">
                    <div class="product ftco-animate fadeInUp ftco-animated">
                        <div class="img d-flex align-items-center justify-content-center">
                            <div class="desc">
                                <p class="d-flex">
                                    <a class="d-flex align-items-center justify-content-center">
                                        <i class="fi fi-rr-shopping-bag"></i>
                                    </a>
                                    <a class="d-flex align-items-center justify-content-center">
                                        <i class="fi fi-rr-heart"></i>

                                    </a>
                                    <a class="d-flex align-items-center justify-content-center">
                                        <i class="fi fi-rr-eye"></i>
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="text text-center">
                        <span class="sale">Sale</span>
                        <span class="category">Brandy</span>
                        <h2>Bacardi 151</h2>
                        <p class="md-2">
                            <span class="price price-sale">$69.00</span>
                            <span class="price">$49.00</span>
                        </p>
                    </div>
                </div>
                <div class="col-md-3 d-flex" style="background-color: red; height:300px; margin:5px">
                    <div>

                    </div>
                </div>
                <div class="col-md-3 d-flex" style="background-color: red; height:300px; margin:5px">
                    <div>

                    </div>
                </div>
                <div class="col-md-3 d-flex" style="background-color: red; height:300px; margin:5px">
                    <div>

                    </div>
                </div>
                <div class="col-md-3 d-flex" style="background-color: red; height:300px; margin:5px">
                    <div>

                    </div>
                </div>
                <div class="col-md-3 d-flex" style="background-color: red; height:300px; margin:5px">
                    <div>

                    </div>
                </div>
                <div class="col-md-3 d-flex" style="background-color: red; height:300px; margin:5px">
                    <div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ----------------------- Tastefully Yours end --------------------------- -->